
<%- include("partials/header") %>

<h1>Home</h1>

<p>
  <%= starting_content%>
  </p>


<% content.forEach(function(element){ %>
  <%# console.log(element.post_title);  %>
   <%# console.log(element.post_body);  %>
  <h2><%= element.post_title%></h2>
  <p><%= element.post_body.substring(0 , 100) + " ..." %> <a href="/blogs/<%=element.post_title%>" >Read more</a> </p>

 <%}) %>

<!-- } -->


<%- include("partials/footer") %>
