<%- include("partials/header") %>

<h1><%= thispost.post_title %> </h1>
<p> <%= thispost.post_body %> </p>
<a href = '/update/<%=thispost._id%>'> <button type="button" class="btn btn-primary">Update</button> </a>
<br>
<br>
<form action="/delete/<%=thispost._id%>" method = 'post'>
    <button type="submit" class="btn btn-danger">Delete</button>
</form>

<%- include("partials/footer") %>
