
<%- include("partials/header"); -%>
<h1>Update</h1>
<form  action="/update/<%=thispost._id%>" method="post">
  <div class="form-group">
    <label>Title</label>
    <input class="form-control" type="text" name="post_title" value = '<%=thispost.post_title%>'>
    <label>Post</label>
    <textarea class="form-control" name="post_body" rows="5" cols="30" ><%=thispost.post_body%></textarea>
  </div>
  <button class="btn btn-primary" type="submit" name="button">Update</button>
</form>

<%- include("partials/footer"); -%>
